

<mat-card>
    <mat-card-title class="n">Novo Produto</mat-card-title>
  

    <form>

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Valor (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

    <div class="direction"><button mat-raised-button (click)="createProduct()" color="primary" class="botao">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()" class="botao">
        Cancelar
    </button>
</div>

    
</mat-card>